#!/usr/bin/make -f

DEB_CMAKE_CUSTOM_FLAGS += -DWITH_SYSTEM_GEOIP:BOOL=ON \
                          -DWITH_BUILTIN_COUNTRY_FLAGS:BOOL=OFF
DEB_KDE_LINK_WITH_AS_NEEDED := yes

ifneq (,$(shell which tg))
include /usr/share/quilt/quilt.make
include /usr/share/topgit/tg2quilt.mk
endif

include /usr/share/pkg-kde-tools/makefiles/1/debhelper/kde.mk

prune-tarball:
	# Remove non-free components: flags and geoip stuff
	rm -f plugins/infowidget/geoip/*.png
	rm -f plugins/infowidget/geoip/FLAGS_LICENCE
	rm -f plugins/infowidget/geoip/geoip.dat
	rm -f plugins/infowidget/geoip/GeoIP-LICENSE.txt
	rm -f plugins/infowidget/GeoIP.c
	rm -f plugins/infowidget/GeoIP.h
.PHONY: prune-tarball
